* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    opacity: 0.9;
    background-image: linear-gradient(45deg, #ff6f61, #fb8c00);
}

footer {
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    max-width: 520px;
    height: 100vh;
    margin-top: 20px;
    max-height: 745px;
    background-color: #fdf5e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

#result {
    height: 50vh;
    text-align: center;
}

#result img {
    width: 40%;
}

#start-text {
    font-size: 26px;
    text-align: center;
    padding: 20px;
}

#group-btn {
    width: 100%;
    display: flex;
    gap: 5px;
    padding: 10px;
}

#group-btn > button > img {
    width: 100%;
    border: solid 2px #333;
}
